<div class="content-area banner-content"
	[ngStyle]="{'background-image': 'linear-gradient(0deg, rgba(239,249,255, .9), rgba(239,249,255, .9)), url(\'assets/images/bg.jpg\')'}">
	<section id="banner" class="text-left">
		<div class="inner">
			<img src="assets/images/mt_icon.png" alt="logo" class="logo">
			<h1 class="display-4">Mountain Technologies LLC</h1>
			<h2>Software services for your needs - <a href="#contact">Contact</a></h2>
		</div>
	</section>
</div>

<div class="content-area">
	<section id="section-one">
		<div class="inner clr-row">
			<div class="clr-col">
				<div class="content">
					<h2>Software Services</h2>
					<p>
						We work closely through all stages of development with our clients and align to their goals. Only expect your software being delivered on time, on budget and done right.
					</p>
					<a href="#contact" class="special">Contact</a>
				</div>
			</div>
			<div class="clr-col-auto">
				<div class="image-wrapper">
					<img alt="" src="assets/images/02.jpg">
				</div>
			</div>
		</div>
	</section>

	<section id="section-two" class="alt">
		<div class="inner clr-row">
			<div class="clr-col-auto">
				<div class="image-wrapper">
					<img alt="" src="assets/images/01.jpg">
				</div>
			</div>
			<div class="clr-col">
				<div class="content">
					<h2>Web Development</h2>
					<p>
						Do you need to take your website to the next level? We can help. Ask us about our complete website solutions that include intuitive flow, custom themes, plugins, e-commerce, social media integration, email campaigns and custom backend development.
					</p>
					<a href="#contact" class="special">Contact</a>
				</div>
			</div>
		</div>
	</section>

	<section id="section-three">
		<div class="inner clr-row">
			<div class="clr-col">
				<div class="content">
					<h2>Beyond the Cookie Cutter Solutions</h2>
					<p>
						Building custom software is what we do. We to focus on design principles such as SOLID, the heuristics of your business rules, and find the right resources for the job to make sure we deliver with excellence.
					</p>
					<a href="#contact" class="special">Contact</a>
				</div>
			</div>
			<div class="clr-col-auto">
				<div class="image-wrapper">
					<img alt="" src="assets/images/04.jpg">
				</div>
			</div>
		</div>
	</section>

	<section id="section-one" class="alt">
		<div class="inner clr-row">
			<div class="clr-col-auto">
				<div class="image-wrapper">
					<img alt="" src="assets/images/05.jpg">
				</div>
			</div>
			<div class="clr-col">
				<div class="content">
					<h2>Video Editing</h2>
					<p>
						Do you need a fantastic video for you or your client? We are here to make awesome videos for your needs.
					</p>
					<a href="#contact" class="special">Contact</a>
				</div>
			</div>
		</div>
	</section>

<div class="content-area footer-content"
	[ngStyle]="{'background-image': 'linear-gradient(0deg, rgba(239,249,255, .9), rgba(239,249,255, .9)), url(\'assets/images/bg.jpg\')'}">
	<section id="contact">
		<div class="inner">
			<div class="content text-center">
				<h2>Get in touch</h2>
				<div class="py-5">
					<p>How can we be apart of your mission? Contact us for details.</p>
					<p>
						<b><clr-icon shape="phone-handset"></clr-icon>&nbsp;(952) 239-4799</b><br>
						<b><clr-icon shape="envelope"></clr-icon>&nbsp;<a href="mailto:info@mountaintechnologiesllc.com">info@mountaintechnologiesllc.com</a></b>
					</p>
				</div>
			</div>
		</div>
	</section>

	<section id="footer">
		<div class="inner">
			<div class="content">
				<ul class="copyright">
					<li>&copy;  Mountain Technologies LLC All rights reserved.</li>
				</ul>
			</div>
		</div>
	</section>
</div>
